{{!-- {{>header}}
<table class="table table-stripped">
    <thead>
        <th>name</th>
        <th>email</th>
        <th>phone</th>
        <th>city</th>
        <th>price</th>
        <th>actions</th>
    </thead>
    <tbody>
        {{#if hasUsers}}
        {{#each hotel}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.email}}</td>
            <td>{{this.phoneHotel}}</td>
            <td>{{this.city}}</td>
            <td>{{this.price}}</td>
            <td><img src="{{this.image}}" alt=""></td>
            <td>
                <a href="/singelHotel/{{this._id}}" class="btn btn-primary">Show</a>
                <a href="/edit/{{this._id}}" class="btn btn-warning">Edit</a>
                <a href="/delete/{{this._id}}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        {{/each}}
        {{else}}
        <tr class="alert alert-danger">
            <td colspan="3">No Users yet</td>
        </tr>
        {{/if}}
    </tbody>
</table>
{{>footer}} --}}